{% extends "base.html" %}

{% block body %}

<body>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>RF Online</h1>
            <p>Consectetur harum rem sapiente soluta autem facere dolorum repellat exercitationem, explicabo impedit nam? Dolores omnis eum fugiat nulla labore voluptatibus unde laboriosam voluptate libero? Veniam eligendi incidunt earum quidem quod.</p>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
    </div>
</div>
<!-- </div> -->
</body>
{% endblock %}
